[Desktop Entry]
Name=anki
Name[tr]=anki
GenericName=Anki
GenericName[tr]=Flashcard uygulaması
Comment=Friendly, intelligent flash cards. Remembering things just became much easier.
Comment[tr]=Flashcard uygulaması
Icon=anki
Exec=runanki
Terminal=false
Type=Application
Categories=Python;Utility;TextEditor;
